<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8">
    <title>or233分享</title>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/lib/jQuery.dotdotdot/src/jquery.dotdotdot.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sidbar.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/highlight.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta name="baidu_union_verify" content="f91cc60df087bd999fb4f559ec93c1c7">
    <script src="/lib/baidu-tongji/tongji.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">or233分享</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a>首页</a></li>
                <li><a href="/blogs">所有分享</a></li>
                <li><a th:unless="${session.CURRENT_USER == null}" th:href="@{'/admin/'+${session.CURRENT_USER.id}}">个人中心</a>
                </li>
                <li><a href="/blogs/create">分享一下</a></li>
                <li><a th:unless="${session.CURRENT_USER == null}" href="logout">退出登录</a></li>
                <li><a th:if="${session.CURRENT_USER == null}" href="/login">登陆</a></li>
                <li><a th:if="${session.CURRENT_USER == null}" href="/register">注册</a></li>
            </ul>
            <form class="navbar-form navbar-right" method="post" action="/blogs/search">
                <input name="key" type="text" class="form-control" placeholder="搜索...">
            </form>
        </div>
    </div>
</nav>

<div class="content">
    <div class="content_resize">
        <div class="mainbar">

            <div class="article blog-item index" th:each="blog:${blogs}">
                <h3><span th:text="${blog.title}"><a th:href="@{'/blogs/'+${blog.id}}">title</a></span></h3>
                <div class="clr"></div>
                <p class="infopost">分享于 <span class="date blue"
                                              th:text="${#dates.format(blog.createdTime, 'yyyy-MM-dd')}">date</span>&nbsp;&nbsp;
                    by <a class="blue" th:text="${blog.author.username}">author</a> &nbsp;&nbsp;
                    评论 <a class="blue" th:if="${blog.comments == null}">0</a>
                    <a class="blue" th:unless="${blog.comments == null}" th:text="${#lists.size(blog.comments)}">0</a>
                </p>
                <!--<img src="images/img1.jpg" width="227" height="205" alt="image" class="fl" />-->
                <div class="single-blog">
                    <p class="blog-post-content" th:utext="${blog.content}">content</p>
                </div>
                <p class="spec"><a th:href="@{'/blogs/'+${blog.id}}" class="blue rm">完整分享 &raquo;</a></p>
                <script>
                    $(function () {
                        $(".single-blog").dotdotdot();
                    })
                </script>
            </div>

            <p class="pages">
                <a href="/">&laquo;</a>
                <a th:if="${page-1>0}" th:text="${page-1}" th:href="'/?page='+${page-1}">prev</a>
                <span th:text="${page}">pres</span>
                <a th:if="${page<5}" th:text="${page+1}" th:href="'/?page='+${page+1}">next</a>
                <a href="/?page=5">&raquo;</a>
            </p>

        </div>
        <div class="sidebar">

            <div class="gadget">
                <h2 class="star"><span>标签</span></h2>
                <div class="clr"></div>
                <ul class="widget_divTags_inner">
                </ul>
            </div>
            <div class="gadget">
                <h2 class="star"><span>宽带山近期热帖</span></h2>
                <div class="clr"></div>
                <ul id="kds" class="ex_menu"></ul>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>

<div class="fbg">
    <div class="fbg_resize">
        <div class="col c1">
            <h2><span>Image Gallery</span></h2>
            <a href="#"><img src="images/pix1.jpg" width="58" height="58" alt="pix"/></a>
            <a href="#"><img src="images/pix2.jpg" width="58" height="58" alt="pix"/></a>
            <a href="#"><img src="images/pix3.jpg" width="58" height="58" alt="pix"/></a>
            <a href="#"><img src="images/pix4.jpg" width="58" height="58" alt="pix"/></a>
            <a href="#"><img src="images/pix5.jpg" width="58" height="58" alt="pix"/></a>
            <a href="#"><img src="images/pix6.jpg" width="58" height="58" alt="pix"/></a>
        </div>
        <div class="col c2">
            <h2><span>分享圈</span></h2>
            <p>说明<br/>
                可以说这里分享的一切都是胡说八道，请各位看官不要相信或者跟着去尝试，产生一切后果自行承担！凡涉及法律道德等一切问题，请及时联系管理员删除！
                <a href="#">吓吓侬</a></p>
        </div>
        <div class="col c3">
            <h2><span>Contact</span></h2>
            <p>我的联系方式，间歇性失联~</p>
            <p>邮箱：fanrong330@gmail.com</p>
            <p>QQ：87953343</p>
        </div>
        <div class="clr"></div>
    </div>
</div>
<footer>
    &copy; 2018 Or233, Org &middot; <a href="#">隐私</a> &middot; <a href="#">条款</a>
</footer>

<script>
    var element = document.getElementById("kds");

    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    var url = '/kds'
    fetch(url, {method: "get", headers: myHeaders, mode: "cors"})
        .then(function (response) {
            return response.json()
        }).then(function (json) {
        return json.topics
    }).then(function (topics) {
        topics.forEach(function (topic) {
            console.log(topic.title)

            var newLi = document.createElement("li");

            var newLink = document.createElement("a");
            newLink.href = topic.link
            newLink.title = topic.title


            var newSpan = document.createElement("span");
            newSpan.innerHTML = topic.title

            newLink.appendChild(newSpan)
            newLi.appendChild(newLink)
            element.appendChild(newLi)

            if (topic.imgLink.length > 0) {
                var newDiv = document.createElement("div");
                newDiv.align = "left"

                var newImage = document.createElement("img");
                newImage.src = topic.imgLink;
                newImage.height = "100"

                var newLink1 = document.createElement("a");
                newLink1.href = topic.link
                newLink1.title = topic.title

                newLink1.appendChild(newImage)
                newDiv.appendChild(newLink1)

                element.appendChild(newDiv);
            }

        })
    })
</script>

<script type="text/javascript">
    (function () {
        $(document).ready(function () {
            $.ajax({
                url: "/tags",
                method: "GET",
                success: function (data) {
                    for (var i = 0, l = data.length; i < l; i++) {
                        var tagElem = "<a style=\"display:inline-block\"class=\"label label-info tags\" href=\"/blogs?tag=" + data[i].name + "\"><span>" + data[i].name + "(" + data[i].blogsNum * -1 + ")" + "</span></a>";
                        $(".widget_divTags_inner").append(tagElem);
                    }
                }
            });
        });
    })();
</script>
</body>
</html>
