<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vip.fanrong.mapper.UserMapper">

    <!-- 二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <select id="getUser" resultType="User">
        select * from user
        <where>
            <if test="id!=null and id!=''">
                and id = #{id}
            </if>
            <if test="email!=null and email!=''">
                and email = #{email}
            </if>
        </where>
    </select>

    <update id="updateUser" parameterType="User">
	update user set email = #{email}, username = #{username}, 
	password = #{password}, description = #{description}, 
	avatar = #{avatar} 
	where id = #{id}
</update>

    <insert id="createUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
	insert into user (username, password, email, description) 
	values 
	(#{username}, #{password}, #{email}, #{description})
</insert>

    <delete id="deleteUser">
	delete from user where id = #{id}
</delete>
</mapper>